body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #ECECEC;
}

.desktop-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.background {
    position: absolute;
    background: rgba(0, 102, 204, 0.4);
    width: 80%;
    height: 70%;
    border-radius: 20px;
}

.login-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
    max-width: 900px;
    width: 100%;
}

.image-container {
    flex: 1;
    margin-right: 20px;
}

.image-placeholder {
    background: url('../assets/images/rectangle_11.png') 50% / cover no-repeat;
    width: 100%;
    height: 100%;
    border-radius: 64px;
}

.form-container {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.login {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 36px;
}

.label {
    font-size: 14px;
    font-weight: 700;
    margin: 8px 0;
}

.input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    font-size: 14px;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.checkbox-container {
    display: flex;
    align-items: center;
}

.checkbox {
    margin-right: 10px;
}

.checkbox-text {
    font-size: 14px;
    font-weight: 500;
}

.forgot-password {
    font-size: 14px;
    color: #CCCCCC;
    text-decoration: none;
}

.action-btn {
    background: rgba(0, 102, 204, 0.6);
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.register-text {
    font-size: 14px;
    color: #CCCCCC;
    margin-right: 5px;
}

.register-link {
    font-size: 14px;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
}
